extends html, javascript, css

snippet vst 'vue setup template' b
	<script setup>
	</setup>

	<template>
	</template>

	<style scoped>
	</style>
endsnippet

snippet vtt "Description" b

	<script setup lang="ts">
	</setup>

	<template>
	</template>

	<style scoped>
	</style>

endsnippet
